<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/songs" method="POST">
      <p><label>Song name: <input type="text" name="song[name]" id="song_name"></label></p>
      <p><label>Artist name: <input type="text" name="artist[name]" id="song_artist"></label></p>
      <% @genres.each do |genre| %>
        <input type="checkbox" name="song_genre[genre_ids][]" id="<%= genre.id %>" value="<%= genre.id %>" >
        <%= genre.name %>
      <% end %>
      <p><input type="submit" value="Create New Song" id="submit"></p>
    </form>
</body>
</html>